<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add movie to list", class: "btn btn-dark" %>
</div>
<% end %>
<div class="row d-flex d-wrap">
  <% Movie.all.each do |l| %>
  <div class="card", style="width: 20%">

    <%= image_tag l.poster_url, class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= l.title %></h5>
    </div>
  </div>
  <% end %>
