<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Homepage", lists_path, class: "btn btn-primary"  %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Create", new_list_path %>
      </div>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
